POSTGRES_USER=DB-user //deployment

POSTGRES_PASSWORD=DB-password //deployment

POSTGRES_DB=DB //deployment

PORT=port

DATABASE_URL=DB-URL

JWT_ACCESS_SECRET=JWT-ACCESS-SECRET

JWT_REFRESH_SECRET=JWT-REFRESH-SECRET

CLIENT_URL=client-url

NEXT_PUBLIC_API_URL=server-url

NEXT_PUBLIC_GOOGLE_CLIENT_ID=googel-client-url(auth)

UPSTASH_REDIS_REST_TOKEN=Redis-Token

UPSTASH_REDIS_REST_URL=Redis-url

EMAIL_VERIFICATION_SECRET=-----------------------

RESEND_API_KEY=------------------

EMAIL_FROM=______